<div class="page-header">
    <h1><%= user.local.username %>  </h1>
</div>
    <div class="container row signUpContainer" style="max-width: 100%; margin: 0 auto;">

      <div class="col s8 ">


        <form id="songInput" class="" action="index.html" method="post">
          <input id="songName" type="text" name="name" value="">
          <button type="submit" name="button" class="navButton waves-effect waves-light btn btn-warning btn-lg ">search</button>
      </form>
      <div class="" style="height: 200px; max-width: 100%; overflow-y:scroll">
        <ul id="songList" class="collection">

        </ul>
      </div>
      <div class="">
        <ul class="collection trackListData"> <% for (var i = 0; i<currentUser.local.tracks.length; i++) { %>
          <li class="collection-item songListData"><%= user.local.tracks[i].title %>
            <span class="songUrlHide"><%= user.local.tracks[i].url%></span>
            <span class="songDelId"><%= user.local.tracks[i].id%></span>
            <button type="button" style="height: 27px;" data-play:"play" class="songPlay  waves-effect waves-light btn btn-warning btn-lg" name="button">
             <i class="material-icons">play_circle_outline</i></button>
            <button type="button" class="songDel waves-effect waves-light btn btn-warning btn-lg" name="button">
              <i class="material-icons">remove_circle_outline</i></button>
           </li>
        <% }  %>
        </ul>
      </div>
      <iframe id="sc-widget" src="" width="100%" height="165px" scrolling="no" frameborder="no"></iframe>
      <!-- <object height="81" width="100%" id="nickPlayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
        <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=nickPlayer"></param>
        <param name="allowscriptaccess" value="always"></param>
        <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=nickPlayer" type="application/x-shockwave-flash" width="100%" name="yourPlayerId"></embed>
        </object> -->
        </div>
        <div class="col s4 ">


        <div class="oldchat-window" style="max-width:100%; margin-left: 50px;">
          <ul id="messages" style="background: white;"></ul>
            <form id="chat-form" action="" class="form-inline">
              <input id="m" autocomplete="off" class="form-control" placeholder="Input Message" /><button id="send-button" class="navButton waves-effect waves-light btn btn-warning btn-lg">Send</button>
            </form>
    </div>
            </div>
          </div>
        </div>

      </div>
  <script>
      var songInput = $('#songInput')
      function refreshList(){
        songList = $('<li></li>')
      }
    songInput.on('submit', function(evt){
      $('#songList').empty()
      var songName = $('#songName').val()
      var songList = $('#songList')
      evt.preventDefault()
      $.ajax({
        url: '/search',
        method: "GET",
        contentType: "application/json",
        data: {data: songName}
      })
      .done(function(tracks){
        console.log(tracks);
        for (var i = 0; i < tracks.length; i++) {
          // function fixedEncodeURIComponent (str) {
          //   return encodeURIComponent(str).replace(/[']/g, function(c) {
          //     return '/';
          //   });
          // }
          // var trackTitle = fixedEncodeURIComponent(tracks[i].title)
          var trackTitle = tracks[i].title
          var trackId = tracks[i].id
          var trackUrl = tracks[i].permalink_url
          if (tracks[i].artwork_url == null) {
            console.log('null');
          }
          else {
            var songLi = $('<li class="collection-item avatar">' + '<img class="circle" src=' + tracks[i].artwork_url + '>'
            + '<span class="songUrl">'+ trackUrl +'</span><span class="songId">'+ trackId + '</span><span class="title">'+ trackTitle + '</span></li>');
            var songButton = $('<button id="addButton" class="waves-effect waves-light btn btn-warning btn-lg" style="width:10px;"><i class="material-icons">library_add</i></button>');
            songLi.append(songButton)
            songList.append(songLi)
            var songId = $('.songId')
            var songUrl = $('.songUrl')
            $(songId.hide())
            $(songUrl.hide())
            songButton.on('click', function() {
            var trackTitle = ($(this).siblings()[3].innerHTML);
            var trackId = Number($(this).siblings()[2].innerHTML);
            var trackUrl = ($(this).siblings()[1].innerHTML);
              $.ajax({
                url: '/add/<%= currentUser._id %>',
                method: "POST",
                contentType: 'application/json',
                data: JSON.stringify({data: {trackId: trackId, trackTitle: trackTitle, trackUrl: trackUrl}})
              }).done(function(data){
                // window.location.reload();
                console.log(data);
                last =  function(array, n) {
                  if (array == null)
                    return void 0;
                  if (n == null)
                    return array[array.length - 1];
                    return array.slice(Math.max(array.length - n, 0));
                };
                var last = last(data.local.tracks)
                var sL = $('<li class="collection-item">' + '<span class="title">'+ last.title + '</span>')
                var songId = $('<span class="songId">'+last.sc_id + '</span></li>')
                $(songId.hide())
                var songUrl = $('<span class="songUrl">'+ last.url +'</span>')
                $(songUrl.hide())
                var playButton = $('<button type="button" style="height: 27px;" class="songPlay2  waves-effect waves-light btn btn-warning btn-lg" name="button"><i class="material-icons">play_circle_outline</i></button>')
                var icon = '<i class="material-icons">remove_circle_outline</i>'
                var songDel = $('<button type="button" class="songDel  waves-effect waves-light btn btn-warning btn-lg" name="button">'+ icon +' </button>')
                sL.append(songId)
                sL.append(songUrl)
                sL.append(playButton)
                sL.append(songDel)
                // playButton.on('click', playSong2)
                songDel.on('click', songDelete)
                $('.trackListData').append(sL)
                // $('.trackListData').load(document.URL +   ' .trackListData');
                var songPlay2 = $('.songPlay2')
                songPlay2.on('click', playSong2)
                function playSong2(){
                  var songUrl = $(this).siblings()[2].innerHTML
                  $('#sc-widget').attr('src', "https://w.soundcloud.com/player/?url=" + songUrl + '&auto_play=true')
                  socket.emit('playsong', songUrl, '<%= currentUser._id %>')
                  console.log($('#sc-widget').attr('src'));
                }
                })
              })
              }
            }
          })
      })



    var songDel = $('.songDel')
    var songDelId = $('.songDelId')
    $(songDelId.hide())
    songDel.on('click', songDelete)

    function songDelete (){
    var trackId = $(this).siblings()[1].innerHTML;
      $.ajax({
        url: '/track/<%= currentUser._id %>?track=' + trackId,
        method: 'GET',
      }).done(function(data){
        console.log(data);
        $('.trackListData li:last').remove()
      })
    }

    var songPlay = $('.songPlay')
    var songUrlHide = $('.songUrlHide')

    $(songUrlHide.hide())
    songPlay.on('click', playSong)

    function playSong(){
      console.log('CLICKKKED PLAYY');
      var songUrl = $(this).siblings()[0].innerHTML;
      $('#sc-widget').attr('src', "https://w.soundcloud.com/player/?autoplay=true&url=" + songUrl + '&auto_play=true')
      console.log($('#sc-widget').attr('src'));
      socket.emit('playsong', songUrl, '<%= currentUser._id %>')
    }


  </script>
  <script src="http://w.soundcloud.com/player/api.js"></script>
  <script type="text/javascript">
  // (function(){
  // var widgetIframe = document.getElementById('sc-widget'),
  //     widget       = SC.Widget(widgetIframe);
  //     
  //       widget.bind(SC.Widget.Events.READY, function() {
  //         console.log("Widget Loaded")
  //   })
  // widget.bind(SC.Widget.Events.READY, function() {
  //   widget.bind(SC.Widget.Events.PLAY, function() {
  //     // get information about currently playing sound
  //     widget.getCurrentSound(function(currentSound) {
  //       console.log('sound ' + currentSound.get('') + 'began to play');
  //     });
  //   });
  //   // get current level of volume
  //   widget.getVolume(function(volume) {
  //     console.log('current volume value is ' + volume);
  //   });
  //   // set new volume level
  //   widget.setVolume(50);
  //   // get the value of the current position
  // });

}());
  </script>
  <style>
      #messages { max-width: 500px; height: 300px; overflow-y: scroll}
      #formnamehere { max-width: 500px;}
      .chat-window { font: 13px Helvetica, Arial; float: right; margin: 0 auto; max-width: 380px }
      /*#chat-form { background: #000; padding: 3px; width: 100%; }*/
      /*#m { border: 0; padding: 10px; width: 90%; margin-right: .5%; }*/
      #send-button { margin: 2; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }

    </style>
        <script src="/socket.io/socket.io.js"></script>
          <script>
            var socket = io()
            console.log('<%= currentUser._id %>');
            socket.emit('create-room', '<%= currentUser._id %>')
            // function appendMessage(msg){
            //   var timestamp = moment(msg.timestamp).format('h:mm:a')
            //   $('#messages').append('<li><small>' + timestamp + '</small> ' + msg.body + '</li>')
            // }

            $('#chat-form').submit(function(evt){
              evt.preventDefault();
              console.log($('#m').val());
              socket.emit('send-chat', $('#m').val());
              $('#m').val('');
              return false;
            });

            socket.on('r-chat', function(msg){
              $('#messages').append('<li>' + msg + '</li>')
            })
            socket.on('room-created', function(msg) {
              console.log(msg)
            })

            socket.emit('playsong', "CHECKOUT MY BEEETS", '<%= currentUser._id %>')


            // $.ajax({
            //   url: '/messages',
            //   method: 'GET'
            // })
            // .done(function(messages){
            //   messages.forEach(function(m){
            //     appendMessage(m)
            //   })
            // })
          </script>
